<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zeus.manager.perm.dao.IPermRoleAuthDao">

    <resultMap id="PermRoleAuth" type="com.zeus.manager.perm.model.PermRoleAuthModel">
        <result property="id" column="id"/>
        <result property="roleId" column="role_id"/>
        <result property="authId" column="auth_id"/>
    </resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
        id ,role_id ,auth_id 
	    ]]>
	</sql>
	
    <insert id="insert" >
    <![CDATA[
        INSERT INTO m_perm_role_auth (
	        id  ,
	        role_id  ,
	        auth_id  
        ) VALUES (
        	#{id, jdbcType=INTEGER} ,
        	#{roleId, jdbcType=INTEGER} ,
        	#{authId, jdbcType=INTEGER} 
        )
    ]]>
    </insert>

    <update id="update" >
        UPDATE m_perm_role_auth SET
	        <if test="roleId != null">role_id = #{roleId, jdbcType=INTEGER} ,</if>
	        <if test="authId != null">auth_id = #{authId, jdbcType=INTEGER} </if>
        WHERE 
	        id = #{id} 
    </update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM m_perm_role_auth WHERE
        id = #{id} 
    ]]>
    </delete>
    
    <select id="getById" resultMap="PermRoleAuth">
	    SELECT <include refid="columns"/>
	    <![CDATA[
	        FROM m_perm_role_auth 
	        WHERE 
		        id = #{id} 
	    ]]>
    </select>

	<sql id="findWhere">
	    <where>
	    </where>
	</sql>
	 
    <select id="findPageCount" resultType="int">
        SELECT count(*) FROM m_perm_role_auth <include refid="findWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 #offset#,#pageSize#,#lastRows# 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findPage" resultMap="PermRoleAuth">
    	SELECT <include refid="columns"/> FROM m_perm_role_auth 
		<include refid="findWhere"/>
		<if test="sortColumns != null">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
	<select id="find" resultMap="PermRoleAuth">
	    SELECT <include refid="columns"/> FROM m_perm_role_auth 
		<include refid="findWhere"/>
		<if test="sortColumns != null">
			ORDER BY ${sortColumns}
		</if>
    </select>
	
</mapper>

